@charset "utf-8";
body {
 background-color: #ffffb3;
 color: #191970;
 font-family: Arial, Verdana, sans-serif;
 background-image: url('cropped-1920-1200-606301.jpg');
 text-align: center;
}
h1 {
 background-color: #ffcc00;
 color: black;
 line-height: 200%;
 font-family: Georgia, “Times New Roman”, serif;
 padding: 0.5em;
}
img {
 width: 500px;
}
figure {
 width: 500px;
 padding: 5px;
 border: 2px solid #000000;
}
figcaption {
 text-align: center;
 font-family: Papyrus, fantasy;
 display: block;
}
footer {
 color: #333333;
 font-size: .75em;
 font-style: italic;
 font-family: 'Courier New', Courier, monospace;
}