
.principal-home {
    padding: 0 2.5rem;
}

.banner {
    display: grid;
    gap: 1rem;
    margin: 1em 0;
    
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s;
}


.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

.banner img:hover{
    opacity: 0.7;
}

@media (min-width: 780px) {
    .banner {
       grid-template-columns: calc(50% - 0.75rem) auto auto; 
    }

    .banner img{
        width: 100%;
    }

    .principal-home {
        padding: 0 7.5rem;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}