.carrossel-card {
  width: 100%;
}

.titulo-carrossel {
  font-size: 24px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  height: 28rem;
}
.card img {
  align-self: center;
  width: 55%;
  height: 50%;
  padding-top: .5em;
}
.card {
  
  margin: 0.5em 10.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.card p{
  font-size: 1rem;
}
.carousel-inner {
  overflow: visible;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #272727;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1440px) {
  .card {
    margin: 0.5em 3.5em;
  }
}

@media (max-width: 768px) {
  .cards-wrapper {
    height: 24rem;
  }

  .card {
    width: 100%;
    margin: 0.2em;
  }

  .card p{
    font-size: 12px;
  }

  .card img {
    width: 100%;
    height: 40%;
    padding: 0.2em;
  }

  .card a{
    font-size: 12px;
    padding: .3em;
  }
}