@media only screen and (max-device-width: 900px) {
  .container {
    margin-top: 45px;
  }

  nav ul {
    background-color: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.corpoFormulario {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/tijolo2.jpg);
  background-repeat: repeat;
  background-size: 100%;
}

.corpoFormularioCadastrado {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/tijolo2.jpg);
  background-repeat: repeat;
  background-size: 100%;
}

.container {
  background-color: #fff9f9;
  border-radius: 15px;
  box-shadow: 0px 2px 5px;
  width: 44rem;
  max-width: 100%;
  overflow: hidden;
}

.containerCadastrado {
    background-color: #fff9f9;
    border-radius: 15px;
    box-shadow: 0px 2px 5px;
    width: 44rem;
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

 .containerCadastrado img{
    padding: 2rem;
 }

.header {
  padding: 20px;
  background-color: #e2d1ec;
  border-radius: 15px;
  text-align: center;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  padding: 15px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #232323;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.formulario__campo {
  margin-top: 1rem;
}

.btn {
  background-color: #a139dd;
  border: 2px solid #000000;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.rodape {
  margin-top: 11em;
}
