@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: #746d6dc2;
}

a {
    color: #333;
    text-decoration: none;
}

.main-header {
    background-image: url(https://images7.alphacoders.com/104/1049764.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
    height: 55vh;
    padding: 2rem;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    color: white;
}

.main-header h1 span {
    color: #ff000473;
}

.main-header p {
    font-size: 2rem;
    color: rgba(255, 0, 0, 0.521);
}

.container {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/9710.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    margin-top: 50px;
    width: 350px;
    height: 150px;
}

iframe{
    margin-top: 25px;
    width: 710px;
    height: 200px;        
}

.card {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14rem;
    background: #000000;
    margin-bottom: 2rem;
    color: white;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #ffffff;
    color: #050000d0;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

footer{
    display: block;
    margin: 0px 202px ;
    padding: 100px;
    background-color: #000000;
    color: white;
}